<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <p>
            Madame, Monsieur; <br>
            <br>
            Nous accusons réception de votre demande de réservation du {{ date_form }}  à {{ hour }} pour {{ nb_people }} personne(s).<br>
            <br>
            Nous allons traiter votre demande et vous recevrez prochainement un mail de confirmation de votre réservation.<br>
            <br>
            A très bientôt !<br>
            <br>
            Restaurant L'air de Famille<br>
            6 rue Jules Chalande<br> 
            31000 Toulouse
        </p>
    </body>
</html>