<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
        <p>
            Madame, Monsieur {{ name }};<br>
            <br>
            Nous avons le regret de vous informer que nous ne pouvons malheureusement pas accepter votre réservation du {{ date_form }}  à {{ hour }} pour {{ nb_people }} personne(s).<br>
            En espérant pouvoir vous accueillir une prochaine fois, nous restons à votre disposition d'ici là par téléphone au 05 67 06 54 08 pour toute demande d'information.<br>
            <br>
            À très bientôt !<br>
            <br>
            Restaurant L'air de Famille<br>
            6 rue Jules Chalande<br>
            31000 Toulouse<br>
        </p>
    </body>
</html>