{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_add_full_service.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <button class="back_button">Retour</button>
        
        <div class="top">
            <h1 class="title">Ajouter un service complet</h1>
        </div>
        
        <h1 class="error_msg">{{ message }}</h1>
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="send" type="submit" value="Enregistrer">
        </form>
    </body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>