{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_add_holidays.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <a class="back_button" href="{% url 'display-holidays' %}">Retour</a>
        
        <div class="top">
            <h1 class="title">Ajouter des dates de vacances</h1>
        </div>
        
        <h1 class="error_msg">{{ message }}</h1>
        
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="send" type="submit" value="Enregistrer">
        </form>
    </body>
</html>