{% load static %}

<!DOCTYPE html>
<head>
    <title>L'air de famille</title>
    <link rel="stylesheet" href="{% static 'website/style_clients_list.css' %}">
    <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
</head>
<body>
    
    <a href="{% url 'display-reservations-list' %}" class="back_button">Retour</a>

    <div class="top">
        <h1 class="title">Liste des clients</h1>
    </div>

    <ul class="full_list">
        <li class="legend_line">
            <ul class="legend_elements">
                <li class="legend">Nom</li>
                <li class="legend">Tél.</li>
                <li class="legend">Nombre de réservations</li>
            </ul>
        </li>
        {% for client in clients %}
        
        <a href="{% url 'display-client-details' client.id %}"><li class="client_line">
            <ul class="client_elements">
                <li class="info">{{ client.name }}</li>
                <li class="info">{{ client.phone_number }}</li>
                <li class="info">{{ client.nb_reservations }}</li>
            </ul>
        </li></a>
        
        {% endfor %}
    </ul>
</body>