{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_client_details.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <a href="{% url 'clients-list' %}" class="back_button">Retour</a>
        
        <div class="top">
            <h1 class="title">Détails du client</h1>
        </div>
        
        <ul class="info_list">
            <li class="info">Nom : {{ client.name }}</li>
            <li class="info">Tél. : {{ client.phone_number }}</li>
            <li class="info">Commentaire client :<a href="{% url 'edit-client' client.id %}" class="edit_button"><small>-Editer-</small></a> {{ client.comment }}</li>
        </ul>
    </body>
</html>