{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_confirmation.css' %}">
    </head>
    <body>
        <a href="{% url 'home' %}"><h2 class="back_button">Retour</h2></a>
        <div class="text">
            <h1 class="title">DEMANDE DE RESERVATION RECUE</h1>
            <p class="info">Réservation en cours de traitement.</p>
            <p>Un mail vous a été envoyé à l'adresse e-mail suivante : <br>{{ mail }}</p>
        </div>
    </body>
</html>