{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_display_holidays.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        
        <a href="{% url 'display-reservations-list' %}" class="back_button">Retour</a>
        
        <div class="top">
            <h1 class="title">Vacances</h1>
        </div>

        <div class="add_button_div">
            <a class="add_button" href="{% url 'add-holidays' %}">Ajouter des vacances</a>
        </div>
        
        <div class="full_list">
            <div class="legend_line">
                <p class="legend">Nom</p>
                <p class="legend">Début</p>
                <p class="legend">Fin</p>
            </div>

            {% for holiday in holidays %}
            
            <div class="holiday_line">
                <p class="info">{{ holiday.name }}</p>
                <p class="info">{{ holiday.begin }}</p>
                <p class="info">{{ holiday.end }}</p>
                <div class="div_delete_button">
                    <a class="delete_button" href="{% url 'delete-holidays' holiday.id %}">Supprimer</a>
                </div>
            </div>

            {% endfor %}
            
            {% if message != "" %}
                <div class="holiday_line">
                    <p class="message">{{ message }}</p>
                </div>
            {% endif %}
    </div>
    </body>
</html>