{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_display_full_services.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        
        <a class="back_button" href="{% url 'display-reservations-list' 'all' 'all' %}">Retour</a>
        
        <div class="top">
            <h1 class="title">Services Complets</h1>
        </div>

        <div class="add_button_div">
            <a class="add_button" href="{% url 'add-full-service' %}">Ajouter un service complet</a>
        </div>
        
        <div class="full_list">
            <div class="legend_line">
                <p class="legend">Date</p>
                <p class="legend">Type repas</p>
            </div>

            {% for service in services %}
            
            <div class="service_line">
                <p class="info">{{ service.date }}</p>
                <p class="info">{{ service.get_meal_type_display }}</p>
            </div>

            {% endfor %}
            
            {% if message != "" %}
                <div class="service_line">
                    <p class="message">{{ message }}</p>
                </div>
            {% endif %}
        </div>
    </body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>