{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href=" {% static 'website/style_display_mail_errors.css' %}">
	<title>L'air de famille</title>
</head>
<body>
	<div class="top">
		<button class="back_button">Retour</button>
		<h1 class="title">Erreurs mail</h1>
	</div>

	<a class="old_errors_button" href="{% url 'old-mail-errors' %}">Anciennes erreurs</a>

	<div class="tab_div">
		
		<div class="tab">
			<div class="legend_line">
				<p class="legend_info">Nom</p>
				<p class="legend_info">Destinataire</p>
				<p class="legend_info">Heure</p>
				<p class="legend_info">Date</p>
				<p class="legend_info">Nb. couverts</p>
				<p class="legend_info">Sujet</p>
			</div>

			{% if message != "" %}
				<div class="no_error_line">
					<p class="no_error_message">{{ message }}</p>
				</div>

			{% else %}
				{% for error in all_errors %}
					<div class="error_line">
						<p class="error_info">{{ error.name }}</p>
						<p class="error_info">{{ error.receptor }}</p>
						<p class="error_info">{{ error.hour }}</p>
						<p class="error_info">{{ error.date }}</p>
						<p class="error_info">{{ error.nb_people }}</p>
						<p class="error_info">{{ error.message_type }}</p>
						<a class="treated_button" href="{% url 'treat-mail-error' error.id %}" target="_blank">Erreur traitée</a>
					</div>
				{% endfor %}

			{% endif %}
		</div>
	
	</div>
</body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>