{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_edit_client.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <a class="back_button" href="{% url 'close-tab' %}">Retour</a>
        
        <div class="top">
            <h1 class="title">Edition du client</h1>
        </div>
        <div class="form_div">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="send" type="submit" value="Enregistrer">
            </form>
        </div>
    </body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>