{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_login_page.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        
        <a href="{% url 'reservation-page' %}" class="back_button">Retour</a>

        <div class="top">
            <h1 class="title">Connexion</h1>
        </div>

        <p class="message">{{ message }}</p>
        
        <form action="", method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Se connecter" class="connexion_button">
        </form>

    </body>
</html>