{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'website/style_maintenance.css' %}">
	<title>L'air de famille</title>
</head>
<body>
	<a class="back_button" href="{% url 'home' %}">Retour</a>
	<div class="container">
		<h1 class="title">Maintenance</h1>
		<p class="text">Pour toute réservation ou demande d'information, veuillez nous contacter par téléphone.<br>
		Merci de votre compréhension.</p>
	</div>
</body>
</html>