{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_accepted_refused_reservations_list.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        
        <button class="back_button">Retour</button>        
        
        <div class="top">
            <h1 class="title">Réservations refusées</h1>
        </div>
        
        <div class="full_list">
            <div class="legend_line">
                <p class="legend">Nom</p>
                <p class="legend">Date</p>
                <p class="legend">Heure</p>
                <p class="legend">Nb. Couverts</p>
            </div>

            {% for reservation in reservations %}
            
            <div class="reservation_line">
                <a class="details_button" href="{% url 'display-details' reservation.id %}">
                    <p class="info">{{ reservation.name }}</p>
                    <p class="info">{{ reservation.resa_date }}</p>
                    <p class="info">{{ reservation.get_hour_display }}</p>
                    <p class="info">{{ reservation.nb_people }}</p>
                </a>
            </div>

            {% endfor %}
            
            {% if message != "" %}
                <div class="reservation_line">
                    <p class="message">{{ message }}</p>
                </div>
            {% endif %}
    </div>
    </body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>