{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_confirmation_page.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <h1 class="title">Etes vous sur de refuser ?</h1>
        <a href="{% url 'refuse-reservation-confirmed' id %}"><h2 class="button">Confirmer</h2></a>
        <a href="{% url 'display-reservations-list' %}"><h2 class="button">Annuler</h2></a>
    </body>
</html>