{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_reservation_details.css' %}">
        <link rel="shortcut icon" href="{% static 'website/media/favicon.ico' %}" type="image/x-icon">
    </head>
    <body>
        <button class="back_button">Retour</button>
        
        <div class="top">
            <h1 class="title">Détails de la réservation</h1>
        </div>
        
        <ul class="info_list">
            <li class="info">Nom : {{ reservation.name }}</li>
            <li class="info">Prénom : {{ reservation.first_name }}</li>
            <li class="info">Tél. : {{ reservation.phone_number }}</li>
            <li class="info">E-mail : {{ reservation.mail }}</li>
            <li class="info">Couverts : {{ reservation.nb_people }}</li>
            <li class="info">Date : {{ reservation.resa_date }}</li>
            <li class="info">Heure : {{ reservation.get_hour_display }}</li>
            <li class="info">Statut : {{ reservation.get_accepted_display }}</li>
            <li class="info">Commentaire client :<a href="{% url 'edit-client' client.id %}" target="_blank" class="edit_button">
            <small>-Editer-</small></a> {{ client.comment }}</li>
            {% if reservation.accepted == '0' %}
                <div class="buttons_div">
                    <a class="accept_button" href="{% url 'accept-reservation' reservation.id %}" target="_blank">Accepter</a>
                    <a class="refuse_button" href="{% url 'refuse-reservation' reservation.id %}" target="_blank">Refuser</a>
                </div>
            {% endif %}
        </ul>
    </body>
    <script type="text/javascript">
        const back_button = document.querySelector(".back_button");

        back_button.addEventListener("click", function() {
            window.history.back();
        })
    </script>
</html>