{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>L'air de famille</title>
        <link rel="stylesheet" href="{% static 'website/style_reservation.css' %}"/>
    </head>
    <body>
        <a href="{% url 'home' %}" class="back_button">Retour</a>
        
        <div class="top">
            <h1 class="title">Espace de réservation</h1>
        </div>
        
        <h1 class="error_msg">{{ message }}</h1>
        
        <div class="form_div">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="send" type="submit" value="Réserver">
            </form>
        </div>

        <div class="bottom">
            <a href="{% url 'login' %}" class="connection_button">Connexion</a>
        </div>

    </body>
</html>