@font-face {
	font-family: "main_font";
	src:  url("fonts/Louis-George-Cafe.ttf");
}


body {
	margin: 0;
}


.top {
	display: flex;

	width: 100%;
	height: 12vh;

	align-items: center;
	justify-content: center;

	background-color: #060b13;
}


.title {
	color: white;
	font-family: main_font;
}


.tab_div {
	display: flex;

	justify-content: center;

	width: 100%;
}


.tab {
	display: flex;
	flex-direction: column;

	width: 90%;

	font-family: main_font;

	border: solid #060b13 3px;

	margin-top: 5vh;
}


.legend_line {
	display: flex;
	flex-direction: row;

	flex-wrap: wrap;

	background-color: #060b13;

	color: white;
}


.legend_info {
	width: 15%;
	min-width: fit-content;
	margin-left: 10px;
}


.error_line {
	display: flex;
	flex-direction: row;

	border: solid #060b13 1px;

	flex-wrap: wrap;
}


.error_info {
	width: 15%;
	min-width: fit-content;
	margin-left: 10px;
}

.no_error_line {
	display: flex;
	justify-content: center;
}