@font-face {
	font-family: "main_font";
	src:  url("fonts/Louis-George-Cafe.ttf");
}


body {
    margin: 0;
    padding: 0;

    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}


.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060b13;
   
    font-family: main_font;
    color: white;

    height: 100px;
    
    margin: 0;
}


.title {
    margin: 0;
}


.nav_button_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.nav_button {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 200px;
    height: 10vh;
    max-height: 150px;

    margin: 30px;
    


    font-size: 20px;
    text-align: center;
    font-family: main_font;
    color: #060b13;

    border: solid #060b13 3px;

    transition: 0.2s;
}

.nav_button:hover {
    color: white;
    background-color: #060b13;
}


.decoration_div_1 {
    border-bottom: solid #060b13 3px;

    width: 50vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;

    padding: 0;
}


form {
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-family: main_font;
    color: #060b13;

    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;

    font-size: 15px;  
}

input {
    width: 150px;
    height: 20px;
    border: solid #060b13 3px;

    margin-right: 5vh;
    margin-left: 10px;
}


select {
    font-family: main_font;

    border: solid #060b13 3px;
    color: #060b13;

    width: 150px;

    margin-left: 10px;
}


input[type=submit] {
    font-family: main_font;

    width: 150px;
    height: 30px;

    background-color: white;
    color: #060b13;

    margin-left: 20vh;

    transition: 0.2s;
}


input[type=date] {
    font-family: main_font;
    color: #060b13;
}


input[type=submit]:hover {
    color: white;
    background-color: #060b13;
}


input::-webkit-calendar-picker-indicator {
    background-color: white;
    opacity: 1;
  }


  @media all and (max-width: 1000px) {
    label {
        margin-left: 5vw;
    }
}


.reset_filters_button_div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.reset_filters_button {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 150px;
    height: 40px;
    max-height: 150px;

    margin: 40px;
    
    font-size: 15px;
    text-align: center;
    font-family: main_font;
    color: #060b13;

    border: solid #060b13 3px;

    transition: 0.2s;
}


.reset_filters_button:hover {
    color: white;
    background-color: #060b13;
}


.full_list {
    font-family: main_font;

    display: flex;
    flex-direction: column;

    border: solid #060b13 3px;

    width: 85vw;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10vh;
}



.legend_line, .reservation_line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 10px;

    min-height: 50px;

    border-bottom: solid #060b13 1px;
}

.reservation_line_warning {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 10px;

    background-color: rgb(221, 118, 118);

    min-height: 50px;

    border-bottom: solid #060b13 1px;
}

.legend_line {
    background-color: #060b13;
    color: white;
}



.details_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: 50px;

    margin: 0;
}


.reservation_line:hover, .reservation_line_warning:hover {
    background-color: #060b13;
    color: white;
}


.legend, .info {
    margin: 0;
    width: 150px;
}


.decision_buttons {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}


.accept_button, .refuse_button {
    display: flex;
    align-items: center;

    margin-right: 20px;
    height: 30px;

    border: solid #060b13 1px;
    padding: 0 5px;
}


.accept_button:hover, .refuse_button:hover {
    background-color: white;
    color: #060b13;
}


.message {
    margin-left: auto;
    margin-right: auto;
}


.bottom {
    background-color: #060b13;
    width: 100%;

    margin: 0;
    padding: 15px 0;

    bottom: 0;
}


