@font-face {
	font-family: "main_font";
	src:  url("fonts/Louis-George-Cafe.ttf");
}

@keyframes slideright {
    from {
        margin-left: -50%;
    }

    to {
        margin-left: 15%;
    }
}

html {
    padding: 0;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;

    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.top {
    background-color: #060b13;

    width: 100%;
   
    font-family: main_font;
    color: white;
    text-align: center;
    
    margin: 0;
    
    padding: 30px 0;
}

.title {
    margin: 0;
}


.back_button {
    position: absolute;

    color: white;
    font-family: main_font;
    font-size: 20px;
    border: solid white 3px;

    transition: 0.2s;

    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;

    background-color: #060b13;
}

.back_button:hover {
    color: #060b13;
    background-color: white;
}

.error_msg {
    animation-name: slideright;
    animation-duration: 1s;

    font-family: main_font;
    color: red;

    margin-left: 15%;

    position: absolute;
}

form {
    font-family: main_font;
    margin-left: auto;
    margin-right: auto;

    background-color: #060b13;
    color: white;

    padding: 70px;
    margin-top: 100px;

    width: 50vw;
    max-width: 500px;

    font-size: 30px;
    
}

input {
    float: right;

    width: 250px;
    height: 30px;

    background-color: #060b13;
    border: solid white 3px;

    border-top: solid #060b13 3px;
    border-bottom: solid white 3px;
    border-left: solid #060b13 3px;
    border-right: solid #060b13 3px;

    color: white;

    font-family: main_font;

    transition: 0.2s;
}

input:hover, select:hover, input:focus, select:focus {
    border: solid white 3px;
}

input[type=submit] {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

input::-webkit-calendar-picker-indicator {
    background-color: white;
    opacity: 1;
  }

.form_div {
    border: solid red 3px;
}