@font-face {
	font-family: "main_font";
	src:  url("fonts/Louis-George-Cafe.ttf");
}


body {
    margin: 0;
    padding: 0;

    width: 100%;
}


a {
    text-decoration: none;
    color: inherit;
}


.top {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #060b13;
   
    font-family: main_font;
    color: white;

    height: 100px;
    
    margin: 0;
}


.title {
    margin: 0;
}

.back_button {
    position: absolute;

    color: white;
    font-family: main_font;
    font-size: 20px;
    border: solid white 3px;

    transition: 0.2s;

    margin-top: 20px;
    margin-left: 50px;
    padding: 10px;
}

.back_button:hover {
    color: #060b13;
    background-color: white;
}


.full_list {
    font-family: main_font;

    display: flex;
    flex-direction: column;

    border: solid #060b13 3px;

    width: 70vw;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}



.legend_line, .reservation_line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    padding: 10px;

    min-height: 50px;

    border-bottom: solid #060b13 1px;
}

.legend_line {
    background-color: #060b13;
    color: white;
}



.details_button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    height: 50px;

    margin: 0;
}


.reservation_line:hover {
    background-color: #060b13;
    color: white;
}


.legend, .info {
    margin: 0;
    width: 150px;
}


.message {
    margin-left: auto;
    margin-right: auto;
}


